################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/ts3client-pluginsdk/v15
/Release
/x64/Release
